<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BRNHyponsisView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3054DC11B6A171D000E7897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3054DDD1B6A171D000E7897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3054DE81B6A171D000E7897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
